@charset "ISO-8859-1";
body{
	background-color:white(0, 0, 0);
}
h1{
	font-family: cursive;
	margin-top: 0px;
}
.location iframe{
    width:100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.contact-icon{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
 font-size: 20px;   
 margin-bottom: 5px;
 color: #555;
 font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border-radius: 1px solid #ccc;
}