<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="UTF-8" />
	<title>FoodFrenzy</title>
	<link rel="icon" type="image/x-icon" href="./Images/logo.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{css/Home.css}" />
	<style>
		body{
			background-image: url('./Images/istockphoto-1006271368-612x612.jpg'); 
			 background-size: cover; 
        
    
		}
	</style>
</head>

<body>
	<nav th:replace="~{Navigation::navbar()}"></nav>
	<div class="text">
	<h1 >WELCOME TO OUR WEBSITE </h1>
	<h3 >Where Quality Meets Innovation! <br /> Explore our wide range of products designed to enhance your life.</h3>
	</div>
	
</body>

</html>
