<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home : Pavan Tea</title>
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}">
    <link rel="stylesheet" href="" th:href="@{/css/Home.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav th:fragment="navbar()">
        <img th:src="@{/Images/logo.png}" alt="Logo" class="logo">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/location">Locate Us</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/login">Log In <i class="fa-duotone fa-arrow-left-to-arc"></i></a></li>
        </ul>
    </nav>
</body>
</html>


