<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodFrenzy</title> 
    <link rel="icon" type="image/x-icon" href="./Images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
    <link rel="stylesheet" href="" th:href="@{css/Products.css}" />
</head>

<body>
    <nav th:replace="~{Navigation::navbar()}"></nav>
    <div id="main-container">
    <div id="biryani"> 
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/biryani/Biryani_of_Hyderabadi.jpg" alt="Chicken Biryani">
            <p class="item-name">Chicken Biryani</p>
            <p class="item-price">Price: Rs 410</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>
 
 <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images//paneer/paneer-butter-masala.jpg" alt="Chicken Biryani">
            <p class="item-name">Paneer Butter </p>
            <p class="item-price">Price: Rs 290</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/chicken/Afgani-chicken-curry.jpg" alt="Chicken Biryani">
            <p class="item-name">Afgani Chicken</p>
            <p class="item-price">Price: Rs 410</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/chicken/butter-chicken.jpg" alt="Chicken Biryani">
            <p class="item-name">Butter Chicken</p>
            <p class="item-price">Price: Rs 380</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/north-india-food/Laccha-Paratha.jpg" alt="Chicken Biryani">
            <p class="item-name">Laccha Paratha</p>
            <p class="item-price">Price: Rs 30</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/chicken/Matka-Chicken.jpg" alt="Chicken Biryani">
            <p class="item-name">Matka-Chicken</p>
            <p class="item-price">Price: Rs 510</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>
      
      <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/chicken/Tandoori-chicken-tikka.jpg" alt="Chicken Biryani">
            <p class="item-name">Chicken Tikka</p>
            <p class="item-price">Price: Rs 310</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/north-india-food/Honey-Chilli-Potato.jpg" alt="Chicken Biryani">
            <p class="item-name">Chilli Potato</p>
            <p class="item-price">Price: Rs 150</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/north-india-food/chola-bhatura.jpg" alt="Chicken Biryani">
            <p class="item-name">Chola Bhatura</p>
            <p class="item-price">Price: Rs 180</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/north-india-food/Gulab Jamun.jpg" alt="Chicken Biryani">
            <p class="item-name">Gulab Jamun</p>
            <p class="item-price">Price: Rs 50</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/chinese/chowmein.jpg" alt="Chicken Biryani">
            <p class="item-name">Chowmein</p>
            <p class="item-price">Price: Rs 150</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/paneer/paneer-do-pyaza.jpg" alt="Chicken Biryani">
            <p class="item-name">Paneer Do Pyaza</p>
            <p class="item-price">Price: Rs 270</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
         
    </div>
    </div>
    <script>
        document.getElementById("buy").addEventListener("click", function (event) {
            event.preventDefault();
            alert("Please Login as a User to buy Products");
        });
    </script>
</body>

</html>

